<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.closetproject">
    <!-- 권한 부여 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 이중 권한 획득 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClosetProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">
        <activity
            android:name=".myAnalysisPage"
            android:exported="true" >


        </activity>
        <activity
            android:name=".test_Dialog"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".productPage"
            android:exported="false" />
        <activity
            android:name=".OneStoreActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity
            android:name=".loginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".orderpay_pay_dialog"
            android:exported="false" />
        <activity
            android:name=".orderPayPage"
            android:exported="false" />
        <activity
            android:name=".orderHistory"
            android:exported="false" />
        <activity
            android:name=".JoinActivity"
            android:exported="false" />
        <activity
            android:name=".basketPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.closetproject"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>